<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Flython test</title>
    <style>
        body {
            background-color: rgb(52, 106, 151);
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 center"><h2>Actividad de Tomi</h2></div>          
            <div class="col-4 center">
                <h3>Música</h3>
                <a href="/tracks" target="">
                    <img src="{{url_for('static', filename = '/img/spoti.png')}}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-4"></div>
            <div class="col-4 center">
                <h3>Películas</h3>
                <a href="/movies" target="">
                    <img src="{{url_for('static', filename = '/img/letter.png')}}" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</body>
</html>