<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Flython test</title>
    <style>
        body {
            background-color: rgb(52, 106, 151);
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-12 center"><h2>Sus favoritas son:</h2></div> 
        <div class="row">
            <div class="col-3">
                <a href="{{fav_list[0]['movie_url']}}" target="blank">
                    <img src="{{fav_list[0]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-3">
                <a href="{{fav_list[1]['movie_url']}}" target="blank">
                    <img src="{{fav_list[1]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-3">
                <a href="{{fav_list[2]['movie_url']}}" target="blank">
                    <img src="{{fav_list[2]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-3">
                <a href="{{fav_list[3]['movie_url']}}" target="blank">
                    <img src="{{fav_list[3]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>                    
        </div>
        <div class="col-12 center"><h2>Estuvo viendo ésto:</h2></div> 
        <div class="row">
            <div class="col-3">
                <a href="{{recent_list[0]['movie_url']}}" target="blank">
                    <img src="{{recent_list[0]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-3">
                <a href="{{recent_list[1]['movie_url']}}" target="blank">
                    <img src="{{recent_list[1]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-3">
                <a href="{{recent_list[2]['movie_url']}}" target="blank">
                    <img src="{{recent_list[2]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-3">
                <a href="{{recent_list[3]['movie_url']}}" target="blank">
                    <img src="{{recent_list[3]['movie_poster']}}" alt="" class="img-fluid">
                </a>
            </div>                    
        </div>
    </div>
</body>
</html>